.homePage {
  .centerPart {
    margin: 0 30%;
    min-height: 400px;
    border: 1px solid #8ad8ff;
    border-radius: 10px;
    background-color: #a3e2ff;
    position: relative;
    padding-top: 20%;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .innerCenter {

    }
  }
}