.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;

  .logo {
    width: 98px;
    height: 83px;
    background-image: url(../../../assets/Logo.png);
  }
  input {
    height: 46px;
    border-radius: 4px;
    width: 400px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 10px 0;
  }
  input::-webkit-input-placeholder {
    color: #e0e0e0;
  }
  button {
    font-weight: 600;
    font-size: 25px;
    border: none;
    background-color: #55bdcc;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
  }
  button.disabled {
    background-color: #c3c3c3;
    color: white;
  }
  a {
    font-size: 15px;
    text-decoration: none !important;
  }
}